.header{
    text-align: center;
}

.logo{
    width: 300px;
}

.header-link-style{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    font-size: 20px;
    padding: 5px;
}

.header nav{
    background-color: black;
    line-height: 40px;
}

.header nav ul {
    display: flex;
    justify-content: center;
}
.header nav a:hover{
    background-color: lightgray;
    color: black;
}